@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

*, body, html {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Cairo', sans-serif,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Cairo', sans-serif,
    monospace;
}

html {
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif;
}

h1,h2,h3,h4,h5,h5,p {
  font-family: 'Cairo', sans-serif;
}
