@import url(http://fonts.googleapis.com/css?family=Raleway:100,300);

#waves {
    width: 100%;
    height: 100%;
}

#title {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

#box {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin: 30px;
  -webkit-transform: translateX(-180px) translateY(-180px);
  -moz-transform: translateX(-180px) translateY(-180px);
  transform: translateX(-180px) translateY(-180px);
  border: 1px solid red;
  overflow: hidden;
  background-color: red;
}

#child {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 10px;
  left: 10px;
}

.wave {
  position: absolute;
}

#top-waves {
    top: -150px;
    left: 0;
}
#bottom-waves {
    bottom: -150px;
    left: 0;
}
#right-waves {
    right: -150px;
    top: 0;
}
#left-waves {
    left: -150px;
    top: 0;
}